doctype html
html(lang="en")
  head
    title Error Page
    style.
      body {
        background-color: #111;
        font-family: sans-serif;
        color: gold;
        text-align: center;
        padding: 50px;
      }
      h1 {
        font-size: 3em;
        margin-bottom: 30px;
      }
      p {
        font-size: 1.2em;
      }
      .button {
        background-color: #2b8a3e; 
        color: gold ;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.2em;
        transition: background-color 0.3s;
        cursor: pointer;
      }
      .button:hover {
        background-color: #2ecc71; 
      }
  body
    h1 Error ⚠️
    p We're sorry, please try again later.
    a.button(href="/") Go Home Page
